html {
  transform: scale(0.8);
  transform-origin: top left;
  width: 125%;
  height: 125%;
  overflow: auto; /* Allow scrolling if content overflows */
}

body {
    font-family: 'Pretendard';
    margin: 0;
    padding: 0;
    display: block;
    height: 100%; /* Ensure body takes full height of html */
}